*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: aquamarine;
}
.main{
    height: 100%;
    width: 80%;
    padding: 16px;
    background-color:  hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
   
}
.result{
    height: 50%;
    width: 100% ;
    background: rgb(253,252,255);
    background: linear-gradient(177deg, rgba(253,252,255,1) 0%, rgba(103,67,253,1) 6%, rgba(54,50,180,1) 100%);

}