*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: aquamarine;
}
.main{
    height: 100%;
    width: 80%;
    padding: 16px;
    background-color:  hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
   
}
.result{
    height: 50%;
    background: hsl(252, 100%, 67%);
    z-index: 1;
}